/************************* TOC ***************************/



/************************* TOC ***************************/






/* Styles for all pages */

/**************************************** Nav Styles */
nav {
    display: flex;
    width: 100%;
    /*height: 50px;*/
    flex-wrap: nowrap;
}

nav ul {
    margin: 2% auto;
    width: 100%;
    display: flex;
    /*flex-direction: row;*/
    justify-content: center;
    white-space: nowrap;
    align-items: center;
    align-items: stretch;
}

nav li {
    list-style: none;
    font-family: 'Lora';
    font-size: 1.5rem;
    /*flex-wrap: nowrap;*/
    /*flex-flow: row;*/
    margin: 0;
    padding: 1rem;
    align-items: stretch;
    display: inline-block;
}

a {
    text-decoration: none;
    flex-wrap: nowrap;
}

nav a:hover {
    color: #B24E27;
}

/**************************************** Header Styles */

.headerwrapper {
    border: solid 5px #B24E27;
    width: 100%;
    height: auto;
    background-color: #E4DCD9;
    display: flex;
}

header {
    font-size: 10vh;
    font-family: 'Lora', serif;
    color: #3F2318;
    margin: 2vh auto;
    padding: 2%;
}

#rightsalmon {
    width: 264px;
    transform: scaleX(-1);
    padding: 5px;
}

#leftsalmon {
    width: 264px;
    transform: scaleX(1);
    padding: 5px;
}



body, html {
    margin: 10px 10%;
    background-color: #E5C9B5;
    color: #3F2318;
    min-width: 500px;
}




#container {
    display: inline-block;
}







/* Styles used on Marketing Page only */

#intro {
    display: inline-block;
}

#intro p, #intro figure {
    margin: 75px 0 0 0;
}

#intro figure {
    float: left;
    margin: 77px 40px 30px 0;
    font-style: italic;
}

h2 {
    margin: 30px 0px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


#ourstory {
    display: relative;
    margin: 15px;
    display: inline;
    left: 0;
    top: 0;
}

#ourstory h3, #locations h3, #merch h3 {
    margin: 15px 15px;
}

#ourstory figure img {
    width: 300px;
    margin: 10px;
}

#ourstory p {
    width: 90%;
}

#locations {
    border: solid 5px #B24E27;
    width: auto;
    height: auto;
    position: relative;
    background-color: #DAC587;
    margin: 50px 0;
}

/***********************************Contact Us Page Styles */

#info {
    display: flex;
    background-color: #E4DCD9;
    border: solid 1px white;
    width: auto;
    height: 200px;
    margin: 50px;
    padding: 10px;
}

#hours li, #contact li {
    list-style-type: none;
}

/************************************************/

#imagecontainer figure, #merch figure {
    display: inline-block;
}

#imagecontainer {
    padding: 40px;
}

#imagecontainer img, #merch img {
    height: 200px;
}



iframe {
    height: 200px;
    width: 200px;
}


/* Sales Data Table and Form */

table {
    background-color: #7D7DA2;
    margin: 0;
    width: 100%;
}

#form-wrapper {
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    margin: 5vh 0 5vh 0;
}

#table-wrapper {
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px white;
    margin: 2% 2%;
    width: 91%;
}


td {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border: solid 1px white;
    background-color: #E4DCD9;
    padding: 5px;
    width: 15%;  
    text-align: right;
}



thead, tfoot {
    font-size: 20px;
    color: white;
    stroke: black;
    text-shadow: 1px -1px 1px black, 1px 2px 1px black;
    text-align: right;
}




lh {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    color: darkslategray;
}

legend {
    font-size: 24px;
    color: #3F2318;
    text-align: right;
}

fieldset {
    margin: 5px 5px 20px 30px;
    text-align: left;
    background-color: #E4DCD9;
    border: solid 1px white;
    color: #3F2318;
    display: block;
    max-width: 400px;
}

form {
    height: 150px;
}

th {
    padding: 10px;
}

tr {
    margin: 20px;
}

input {
    display: block;
    margin: 5px;
}


#header-row {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
}
