/* Styles for all pages */

.headerwrapper {
    border: solid 5px #B24E27;
    width: fit-content;
    max-height: fit-content;
    position: relative;
}


header {
    font-size: 10vh;
    font-family: 'Lora', serif;
    color: #3F2318;
    margin: 1vh 3vw;;
    width: fit-content;
    height: fit-content;
}


body {

    background-color: #E5C9B5;
    color: #3F2318;
    width: 100%;
    min-width: 500px;
}




#container {
    display: inline-block;
}







/* Styles used on Marketing Page only */

#rightsalmon {
    width: 20vw;
    transform: scaleX(-1);
    height: auto;
    padding: 5px;
    margin: 0px 0 0 40px;
}

#leftsalmon {
    width: 20vw;
    transform: scaleX(1);
    max-height: 20vh;
    padding: 5px;
    margin: 0px 40px 0 0;
}

#ourstory {
    margin: 15px;
    display: inline-block;
}

#ourstory h3, #locations h3, #merch h3 {
    margin: 15px 15px;
}

#ourstory figure img {
    width: 300px;
    margin: 10px;
}

#ourstory p {
    width: 90%;
}

#locations {
    background-color: #D7C07C;
    padding: 20px 0px;
}

#info {
    background-color: #E4DCD9;
    border: solid 1px white;
    width: auto;
    height: 200px;
    margin: 50px;
    padding: 10px;
}

#imagecontainer figure, #merch figure {
    display: inline-block;
}

#imagecontainer img, #merch img {
    width: 200px;
}

#hours li, #contact li {
    list-style-type: none;
}

/* Sales Data Table and Form */

table {
    background-color: #7D7DA2;
    margin: 0;
    width: 100%;
}

#form-wrapper {
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    margin: 5vh 0 5vh 0;
}

#table-wrapper {
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px white;
    margin: 2% 2%;
    width: 91%;
}


td {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border: solid 1px white;
    background-color: #E4DCD9;
    padding: 5px;
    width: 15%;  
    text-align: right;
}



thead, tfoot {
    font-size: 20px;
    color: white;
    stroke: black;
    text-shadow: 1px -1px 1px black, 1px 2px 1px black;
    text-align: right;
}




lh {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    color: darkslategray;
}

legend {
    font-size: 24px;
    color: #3F2318;
    text-align: right;
}

fieldset {
    margin: 5px 5px 20px 30px;
    text-align: left;
    background-color: #E4DCD9;
    border: solid 1px white;
    color: #3F2318;
    display: block;
    max-width: 400px;
}

form {
    height: 150px;
}

th {
    padding: 10px;
}

tr {
    margin: 20px;
}

input {
    display: block;
    margin: 5px;
}


#header-row {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
}
