#form-wrapper {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin: 0 0 5vh 0;
}

#table-wrapper {
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px white;
    margin: 5%;
    width: 90%;
}

body {
    background-color: #E5C9B5;
}

td {
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px white;
    background-color: #E4DCD9;
    padding: 5px;
    width: 15%;  
    text-align: right;
}



thead, tfoot {
    font-size: 20px;
    color: white;
    stroke: black;
    text-shadow: 3px 1px 3px black;
}

thead {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

lh {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    color: darkslategray;
}

legend {
    font-size: 24px;
}

fieldset {
    display: flex;
    margin: 0 0 20px 30px;
    justify-content: center;
    background-color: #E4DCD9;
    border: solid 1px white;
}

form {
    height: 200px;
}



table {
    background-color: #7D7DA2;
}

#container {
    display: inline-block;
}

input {
    margin: 5px 0 10px 0;
}

h1 {
    font-family: 'Lora', serif;

}

tr {
    justify-content: flex-end;
}